

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .nav-title{
    width: 1160px;
    height: 62px;
  }
  .logo{
    width: 202px;
    height: 62px;
    display: flex;
  }
  .logo-img{
    width: 62px;
    height: 62px;
  }
  .logo-text{
    width: 129px;
    height: 30px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
  }
ul{
    display: flex;
    gap: 20px;
    margin-left: 186px;
}
.orange{
    color:orange;
}
.skyblue{
    color:skyblue;
}
.color-f{
    color: #05D4DF;
}
.blue{
    color: #5D58EF;
}
.btn{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    border-color: orange;
    text-align: center;
    margin-left: 186px;
}


ul li {
    list-style: none;
    color: black;

}
li a {
     text-decoration: none;
}

.nav-title{
    display: flex;
    font-size:20px;
    font-weight: bold;

}
@media screen and (width:430px){
    .nav-title{
        width:410px;
        height:55px;
        border-style: solid;
        border-color: orange;
        display: flex;
    }
    .logo-img{
        width: 46px;
        height: 46px;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 42px; 
        height: 30px; 
        cursor: pointer;
        margin-left: 200px;
        margin-right: 5px;
    }
    
    .line {
        height: 5px; 
        background-color: #333; 
        width: 100%; 
        border-radius: 5px;
        margin-top: 8px;
     }
    }
    .btn{
        display: none;
    }
    ul{
        display: none;
    }
    .logo-text{ 
        display:none;

    }